@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-3xl  mb-8 leading-loose  text-primary;
	}
	h2 {
		@apply text-2xl relative text-primary font-light;
	}
	h3 {
		@apply text-2xl mb-3;
	}
	h4 {
		@apply text-xl font-bold mb-2;
	}
}

@layer components {
	.nav-link {
		@apply flex items-center gap-6 transition ease-in-out duration-500 hover:text-primary;
	}
	.section {
		@apply flex flex-col gap-4 my-24 items-center;
	}
	.icon {
		@apply text-3xl cursor-pointer;
	}
	.active {
		@apply text-primary;
	}
	.btn {
		@apply text-grey rounded-none shadow-2xl;
	}

	.card {
		@apply shadow-xl p-8 rounded-xl max-w-md md:max-w-lg lg:max-w-xl w-full bg-white;
	}
	.form {
		@apply w-full p-6 bg-light max-w-xl rounded-xl grid auto-rows-auto  mx-auto relative;
	}
}
#my-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	--tw-bg-opacity: 0.8;
	background-color: hsla(var(--nf) / var(--tw-bg-opacity, 1));
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	visibility: visible;
	overflow-y: scroll;
}
#overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
