@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-3xl  mb-8 leading-loose  text-primary;
	}
	h2 {
		@apply text-3xl relative text-primary;
	}
	h3 {
		@apply text-xl my-2 font-semibold;
	}
	h4 {
		@apply text-lg font-semibold text-gray-600;
	}
}

@layer components {
	.modal {
		@apply p-2 md:flex justify-center items-center relative backdrop-blur-sm  inset-0;
	}
	.modal-overlay {
		@apply w-full h-full hidden sm:block backdrop-opacity-40 bg-dark/70 fixed inset-0 z-50;
	}
	.responsive-width {
		@apply w-full max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl;
	}
	.menu-item {
		@apply p-2 hover:text-primary transition ease-in-out duration-500;
	}
	.nav-link {
		@apply ml-4;
	}
	.section {
		@apply flex flex-col gap-4 my-24 items-center  2xl:mr-24 min-h-screen;
	}
	.icon {
		@apply text-3xl cursor-pointer;
	}

	.active {
		@apply text-primary  p-2;
	}
	.btn {
		@apply bg-primary;
	}
	.card {
		@apply shadow-xl p-8 rounded-xl responsive-width bg-lightGray;
	}

	/* tabs  section */
	.tab-header-btn {
		@apply p-3 transition-all duration-500 w-full flex items-center justify-center hover:bg-cyan-200 hover:rounded-xl hover:text-white text-grey;
	}
	.active-tab-header-btn {
		@apply bg-primary p-3 pointer-events-none text-lightGray rounded-xl;
	}
	.tab-posts-content {
		@apply hidden flex-wrap flex-col justify-center p-4 gap-8 transition-opacity duration-1000 w-full items-center;
	}
	.tab-users-content {
		@apply hidden flex-wrap  justify-center  p-4  transition-opacity duration-1000  responsive-width rounded-xl;
	}
	.active-tab-content {
		@apply flex;
	}
	.tab-inner-users {
		@apply flex flex-col justify-center items-center  shadow-xl  bg-lightGray rounded-xl;
	}

	.inputImage {
		@apply block w-full text-sm  file:mr-4 file:py-1  file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-grey file:text-white;
	}
}
#my-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	--tw-bg-opacity: 0.8;
	background-color: hsla(var(--nf) / var(--tw-bg-opacity, 1));
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	visibility: visible;
	overflow-y: scroll;
}
