/* css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* variables */
:root {
	--primary: #00bcd4;
	--secondary: #0c96eb;
	--accent: #d4bd15;
	--dark: #2c436e;
	--light: #ececec;
	--grey: #6b6b6b;
	--small: 640px;
	--md: 768px;
	--large: 1024px;
	--xl: 1280px;
	--lightGray: "#fafafa";
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}
body {
	background-color: var(--light);
}

main {
	flex: 1 0 auto;
	background-color: var(--light);
}
.swiper {
	width: 100%;
	height: 100%;
	background-color: var(--lightGray);
	border-radius: 1em;
	box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.2);
}

.swiper-slide {
	text-align: center;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper {
	width: 100%;
	height: 300px;
}

/* styled scrollbar */
.styledScrollbar::-webkit-scrollbar {
	width: 8px;
}
.styledScrollbar::-webkit-scrollbar-thumb {
	/* Foreground */
	background: var(--secondary);
	border-radius: 2em;
}
.styledScrollbar::-webkit-scrollbar-track {
	/* Background */
	background: var(--lightGray);
}
.styledScrollbar {
	cursor: pointer;
}
