@import url("https://fonts.googleapis.com/css2?family=Inter&family=PT+Sans&display=swap");

/* css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* variables */
:root {
	--primary: #2196f3;
	--secondary: #1e88e5;
	--accent: #d4bd15;
	--dark: #104673;
	--light: #ececec;
	--grey: #4d4d4d;
	--lightGray: #fafafa;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}
body {
	background-color: var(--light);
	font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
footer,
header {
	font-family: "PT Sans", sans-serif;
}

main {
	flex: 1 0 auto;
	background-color: var(--light);
}
.swiper {
	width: 100%;
	height: 100%;
	border-radius: 1em;
}

.swiper-slide {
	text-align: center;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper {
	width: 100%;
	height: 300px;
}

/* styled scrollbar */
.styledScrollbar::-webkit-scrollbar {
	width: 8px;
}
.styledScrollbar::-webkit-scrollbar-thumb {
	/* Foreground */
	background: var(--secondary);
	border-radius: 2em;
}
.styledScrollbar::-webkit-scrollbar-track {
	/* Background */
	background: var(--lightGray);
}
.styledScrollbar {
	cursor: pointer;
}
