/* css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* variables */
:root {
	--primary: #00bcd4;
	--secondary: #d4bd15;
	--accent: #0c96eb;
	--dark: #2c436e;
	--light: #ececec;
	--grey: #6b6b6b;
	--small: 640px;
	--md: 768px;
	--large: 1024px;
	--xl: 1280px;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}
body {
	background-color: var(--light);
}

main {
	flex: 1 0 auto;
	background-color: var(--light);
}

/* loader */
.lds-facebook {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-facebook div {
	display: inline-block;
	position: absolute;
	left: 8px;
	width: 16px;
	background: var(--primary);
	animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
	left: 8px;
	animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
	left: 32px;
	animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
	left: 56px;
	animation-delay: 0;
}
@keyframes lds-facebook {
	0% {
		top: 8px;
		height: 64px;
	}
	50%,
	100% {
		top: 24px;
		height: 32px;
	}
}
/* *****************************************************loader******************* */
/* .card {
	min-width: 300px;
}
@media (min-width: 450px) {
	.card {
		width: 400px;
	}
}

@media (min-width: 640px) {
	.card {
		width: 550px;
	}
}

@media (min-width: 1024px) {
	.card {
		width: 550px;
	}
} */
